/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 5px;
  }
  
  body {
  font-size: 30px;
  }

  
  h1 {
  font-size: 35px
  }
  
  h2 {
    font-size: 30px

  }
  
  img {
      max-width: 100%;
      margin-left: 10px;
      margin-right: 10px;
  }
  

  
  section {
    display: flex;
    flex-flow: row wrap;
  
  }
  
  figure {
      margin: 0;
  }
  
  figcaption {
    font-size: .8em;
  }

  @media (min-width: 600px){
    body {
        background: rgba(0,0,255,.2);
        margin: 25px 6%;
      }
    
      figure {
        width: 45%;
        margin-right: 4.5%;
      }
    }
    @media (min-width: 1300px){
        body{
            background: rgba(45, 131, 34, 0.2);
            margin: 10px;
            font-size: large;
            max-width:70%;
            margin: auto;
            
          }
        
          figure{
            width: 45%;
            margin-right: 4.5%;
          }
          p{
            text-align: center;
                  }
        }