ol > li{
    background-color: yellow;
}
ol > li:nth-of-type(1){
    text-transform: uppercase ;
}
ol > li:nth-of-type(3){
    text-transform: uppercase ;
}
ol > li:nth-of-type(5){
    text-transform: uppercase ;
}

ol > li:nth-of-type(2){
    color: green ;
}
ol > li:nth-of-type(4){
    color: green ;
}
ol > li:nth-of-type(6){
    color: green ;
}
h1,h2,h3,h4 {
    color: red;
}
.italico{
    font-size: 40px;
    border: 1px black solid;
}
li{
    font-size: 20px;
}

li.italico {
    font-weight: bold;
}

ul.prog li:nth-of-type(1){
    color: blue;
}
ul.prog li:nth-of-type(2){
    color: blue;
}
ul.prog li:nth-of-type(3){
    color: blue;
}
ul.prog li.java{
    background-color: pink;
}

.sites{
    list-style: none;    
}
ul.sites li:nth-of-type(1):hover{
    color: orange;

}