body{
    background-color: #474444 ;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
  }
  
  td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .fato1{
    width: 50%;
    float: left;
    display: block;
  }
  .imagem1{
    position: absolute;
    width: 30%;
    display: inline-block;
    top: 845px;
    right: 70px;
    border-radius: 30px;
    opacity: 60%;
    }
    /* .imagem1{
      border: 2px black solid;
      float: right;
      position: relative;
      width: 40%; */

    }
    .fatoFoto1{
      border: #000000 2px solid;
    }

  .fato2{
    width: 50%;
    display: block;
  }
  .fato3{
    width: 50%;
  }
.vrau{
  list-style: none;
  background-color: green;
  display: inline-block;
  width: 100%;
}
ul li {
  display: inline;
  background-color: green;
  margin: 30px;
  text-decoration: none;
}