* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}
body{
    background-color: #7452bd
}

#nomeEmail{
    border-color: black;
    border-style: ;
    /* border-width:  */
    /* background-color: aliceblue; */
    width: 30%;
    border-width: 0.25px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.3)
}

#options {
    display: inline-flexbox;
    background-color: aliceblue;
}